[Unit]
Description=AUR Thumbsup - autovote
StartLimitIntervalSec=55
StartLimitBurst=5
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
Restart=on-failure
RestartSec=10
RestartPreventExitStatus=6 SIGABRT
Environment='AUR_THUMBSUP_ARGS=--quiet --config /etc/aur-thumbsup.toml'
ExecStart=/usr/bin/aur-thumbsup $AUR_THUMBSUP_ARGS autovote
